{
  "parser": "babel-eslint",
    "plugins": ["jest"],
    "rules": {
        "jest/no-disabled-tests": "warn",
        "jest/no-focused-tests": "warn",
        "jest/no-identical-title": "warn",
        "jest/prefer-to-have-length": "warn",
        "jest/valid-expect": "warn"
      },
      "env": {
        "jest/globals": true
      }
}